--- yaml
layout: 'default'
title: 'Features'
nav: true
---

:markdown
  # TODO

  * Fix typos, etc., from email.
  * Cull some of the points from larger sections, like Security.
  * Beef up descriptions in breakout files. Add short descriptions in this file (instead of "xxx").
  * Combine some of the small sections.
  * Get rid of the dumber stuff.
  * Use different icons for points? Probably.
    * Use images for points? Probably not -- too much work in short term.


h1 Features and Benefits

mixin section(info)
  .row.section
    .span7.section-content
      h3.section-header= info.header

      .section-intro= info.intro
        a.more-info(href=info.more_info) Learn More

      .section-points

        each point in info.points
          .section-point
            i(class=point.icon)
            .section-point-title= point.title
            .section-point-content= point.content

    .span5.section-image
      a(href=info.image)
        img(src=info.image)


- var info = {}
- info.header = 'Section Header'
- info.intro = 'One paragraph section into that should end with a "Learn More" link. Note that not every feature point needs to be on this page -- sections should be kept short and even.'
- info.more_info = '#'
- info.image = document.pathToRoot+'/img/screenshot-placeholder.png'
- info.points = []
- info.points.push({title: 'Bold Point Title.', content: 'Point content. Sentence or two. Maybe a link to specific page.', icon: 'icon-ok'})
- info.points.push({title: 'Bold Point Title.', content: 'Point content. Sentence or two. Maybe a link to specific page.', icon: 'icon-ok'})

mixin section(info)

- info.header = 'Security'
- info.intro = 'Something something.'
- info.more_info = 'features/security'
- info.image = document.pathToRoot+'/img/screenshot-placeholder.png'
- info.points = []
- info.points.push({title: 'End-to-end, always-on encryption and security.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Object-level permissioning.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Strong authentication.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Digital signatures ensure authenticity and non-repudiation.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Transitive trust model.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'No "Super User".', content: 'xxx', icon: 'icon-ok'})

mixin section(info)

- info.header = 'Document Management'
- info.intro = 'Something something.'
- info.more_info = 'features/document-management'
- info.image = document.pathToRoot+'/img/screenshot-placeholder.png'
- info.points = []
- info.points.push({title: 'Delta versioning.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Check-in/check-out editorial control.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Auto-notification.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Document content and metadata search.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Customizable content structure.', content: 'xxx', icon: 'icon-ok'})

mixin section(info)

- info.header = 'Chat'
- info.intro = 'Something something.'
- info.more_info = 'features/chat'
- info.image = document.pathToRoot+'/img/screenshot-placeholder.png'
- info.points = []
- info.points.push({title: 'Selective group.', content: 'xxx', icon: 'icon-ok'})

mixin section(info)

- info.header = 'Messaging'
- info.intro = 'Something something.'
- info.more_info = 'features/messaging'
- info.image = document.pathToRoot+'/img/screenshot-placeholder.png'
- info.points = []
- info.points.push({title: 'Encrypted and digitally-signed messages.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Spell-checking.', content: 'xxx', icon: 'icon-ok'})

mixin section(info)

- info.header = 'Bandwidth Optimization'
- info.intro = 'Something something.'
- info.more_info = 'features/bandwidth-optimization'
- info.image = document.pathToRoot+'/img/screenshot-placeholder.png'
- info.points = []
- info.points.push({title: 'Streaming encryption for efficient file transfers.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Delta versioning.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'File compression.', content: 'xxx', icon: 'icon-ok'})

mixin section(info)

- info.header = 'Client Mobility'
- info.intro = 'Something something.'
- info.more_info = 'features/client-mobility'
- info.image = document.pathToRoot+'/img/screenshot-placeholder.png'
- info.points = []
- info.points.push({title: 'Roaming secure workspace.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Data theft prevention and loss recovery.', content: 'xxx', icon: 'icon-ok'})

mixin section(info)

- info.header = 'Usability'
- info.intro = 'Something something.'
- info.more_info = 'features/usability'
- info.image = document.pathToRoot+'/img/screenshot-placeholder.png'
- info.points = []
- info.points.push({title: 'Intuitive collaboration features.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Well-structured interface for minimal learning curve.', content: 'xxx', icon: 'icon-ok'})

mixin section(info)

- info.header = 'Client-Server Architecture'
- info.intro = 'Something something.'
- info.more_info = 'features/client-server-architecture'
- info.image = document.pathToRoot+'/img/screenshot-placeholder.png'
- info.points = []
- info.points.push({title: 'Secure local repository for offline access.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Network connection to remote server.', content: 'xxx', icon: 'icon-ok'})

mixin section(info)

- info.header = 'Installation and Configuration'
- info.intro = 'Something something.'
- info.more_info = 'features/installation-configuration'
- info.image = document.pathToRoot+'/img/screenshot-placeholder.png'
- info.points = []
- info.points.push({title: 'Broad platform support.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Simple installation with small footprint.', content: 'xxx', icon: 'icon-ok'})
- info.points.push({title: 'Auto-upgrade detection.', content: 'xxx', icon: 'icon-ok'})

mixin section(info)


:stylus

  .section
    margin-top: 2em
    font-size: 1.1em

  .section-intro
    margin-top: 1em

  .section-intro .more-info
    margin-left: 0.5em

  .section-points
    margin-top: 1em

  .section-point
    margin-top: 0.5em

  .section-point > i
    margin-right: 0.5em

  .section-point-title
    display: inline
    font-weight: bold
    margin-right: 0.5em

  .section-point-content
    display: inline

  .section-image
    margin-top: 1em

  .section-image img
    max-height: 25em


:coffeescript

  $ ->

    # Alternate content layout left-right
    $('.section-content').each (idx, item) ->
      if (idx % 2) == 0
        $(item).addClass 'pull-left'
      else
        $(item).addClass 'pull-right'

    $('.section-image').each (idx, item) ->
      if (idx % 2) == 0
        $(item).addClass 'pull-left'
      else
        $(item).addClass 'pull-right'
